<header>
  <div class="logo">
    <span class="material-symbols-outlined">shopping_cart</span>
    <h1>DuctPro</h1>
  </div>
  <div (click)="toggleWishlist()" class="wishlist-toggle">
    <ng-container *ngIf="wishlistCount$ | async as count">
      <div class="counter">{{count}}</div>
    </ng-container>
    <span class="material-symbols-outlined">star</span>
  </div>
</header>
<article>
  <app-product-list [products]="products$ | async"></app-product-list>
  <app-wishlist></app-wishlist>
</article>
